<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199753664383-7499qa1a3ipjgkk0cn982au3tq8fj5a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199753664383-7499qa1a3ipjgkk0cn982au3tq8fj5a2</string>
	<key>API_KEY</key>
	<string>AIzaSyBT3IKiuMn8YvY0W5b5fe2dkqbPyw2znfE</string>
	<key>GCM_SENDER_ID</key>
	<string>199753664383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutFireTraining</string>
	<key>PROJECT_ID</key>
	<string>my-first-firestore-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-firestore-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199753664383:ios:e83da97d5a027757d0fc4a</string>
</dict>
</plist>